<h1>New Game</h1>
<br>
<br>
<% @letters.each do |letter| %>
  <div class="letter"><%= letter%></div>
<% end %>
<br>
<br>
<div>
  <form action="/score" method="post" data-turbo="false">
    <!-- ... -->
    <input type="text" name="word" placeholer="What is the longest word you can found?">
    <input type="submit" value="Play!">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :word_value, @letters.join%>
  </form>
</div>
